@model IEnumerable<TrainzInfo.Models.UkrainsRailways>

@{
    ViewData["Title"] = "Філії";
}

<h1>Філії Української залізниці</h1>


@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
@if (ViewBag.user != null)
{
    if (ViewBag.user.Role == "Superadmin")
    {
        
        @* <a class="btn btn-info" asp-action="UpdateIndex">Оновити дані</a> *@

    }
}
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-md-6 mb-3">
                <a class="btn btn-info w-100 text-wrap py-3" asp-action="Details" asp-route-id="@item.id">
                    <span class="h5">@Html.DisplayFor(modelItem => item.Name)</span>
                </a>
            </div>
        }
    </div>

    <div class="text-center mt-4">
        <img class="img-fluid rounded shadow"
             src="@Url.Action("GetImage", "MainImages", new { name = "MainMap" })"
             alt="Мапа Укрзалізниці" />
    </div>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }

    td {
        background: #6a5eff; /* Цвет фона */
        position: center;
        padding: 5px; /* Поля в ячейках */
        opacity: 1.9; /* Полупрозрачность таблицы */
        filter: alpha(Opacity=50); /* Для IE */
        width: 700px;
        color: white;
        text-decoration: solid;
    }
</style>