<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TrainzInfoWebGW</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav-container @(isNavCollapsed ? "collapsed" : "expanded")"
     @onmouseenter="ExpandNav" @onmouseleave="CollapseNav">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Головна
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ukrains-railways">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Українська залізниця
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Список поїздів
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool isNavCollapsed = true;

    private void ToggleNavMenu()
    {
        isNavCollapsed = !isNavCollapsed;
    }

    private void ExpandNav()
    {
        isNavCollapsed = false;
    }

    private void CollapseNav()
    {
        isNavCollapsed = true;
    }
}
