@using Microsoft.AspNetCore.Components.Authorization
@using TrainzInfoWebGW.Tools
@using TrainzInfoWebGW.Tools.DTO
@inject AuthenticationStateProvider AuthStateProvider
@inject HttpClient Http
@inject NavigationManager Nav
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TrainzInfo</a>
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img class="img-fluid rounded"
                 style="max-height:80px;"
                 src="https://trainzinfo.com.ua/api/mainimage/getimage?name=MainPhoto"
                 alt="Logo" />
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav-container @(isNavCollapsed ? "collapsed" : "expanded")"
     @onmouseenter="ExpandNav" @onmouseleave="CollapseNav">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Головна
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ukrains-railways">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Українська залізниця
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Список поїздів
            </NavLink>
        </div>
    </nav>

    <!-- Блок авторизації -->

    <ul class="nav d-flex align-items-center" style="margin-left:auto; gap:10px; list-style:none; padding:0;">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item d-flex align-items-center">
                    <button class="btn btn-outline-primary" @onclick="Profile">Мій профіль</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-danger" @onclick="Logout">Вийти</button>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item">
                    <button class="btn btn-outline-primary" @onclick="Login">Вхід</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-primary" @onclick="Register">Реєстрація</button>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool isNavCollapsed = false;
    List<UkrainsRailwaysDTO> railways = new();
    private AuthenticationState? authState;

    [CascadingParameter] private Task<AuthenticationState> AuthStateTask { get; set; }
    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        AuthStateProvider.AuthenticationStateChanged += AuthStateChanged;
        await((CustomAuthStateProvider)AuthStateProvider).CheckAuthenticationAsync();
    }

    private async void AuthStateChanged(Task<AuthenticationState> task)
    {
        var authState = await task;
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
        StateHasChanged(); // перемальовує компонент
    }

    public void Dispose()
    {
        AuthStateProvider.AuthenticationStateChanged -= AuthStateChanged;
    }

    private void ToggleNavMenu() => isNavCollapsed = !isNavCollapsed;
    private void ExpandNav() => isNavCollapsed = false;
    private void CollapseNav() => isNavCollapsed = false;

    private void Logout() => Nav.NavigateTo("logout");
    private void Register() => Nav.NavigateTo($"/register/");
    private void Login() => Nav.NavigateTo($"/login/");
    private void Profile() => Nav.NavigateTo($"/profile/");
}
