@model IEnumerable<TrainzInfo.Models.NewsComments>

@{
    ViewData["Title"] = "Коментарі";
}

<h1>Комментарии</h1>
<head>
    <meta charset="utf-8">
    <title>Фон</title>
    <style>
        body {
            background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
        }
    </style>
</head>
<p>
    <a class="btn btn-info" asp-action="Create">Додати коментар</a>
</p>

@foreach (var item in Model)
{
    <div style="color:aliceblue">
        
        <p>@item.DateTime</p>
        <p>@item.Comment</p>
    </div>
}

<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>
