.hover-effect:hover {
    filter: brightness(1.1);
    transition: 0.3s;
}

.input-group:focus-within .input-group-text {
    border-color: #86b7fe;
    background-color: #fff !important;
}

.input-group:focus-within .form-control {
    border-color: #86b7fe;
    background-color: #fff !important;
}
