@model TrainzInfo.Models.PassangerCarriere

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PassangerCarriere</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="Calss" class="control-label"></label>
                <input asp-for="Calss" class="form-control" />
                <span asp-validation-for="Calss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountPlace" class="control-label"></label>
                <input asp-for="CountPlace" class="form-control" />
                <span asp-validation-for="CountPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceType" class="control-label"></label>
                <input asp-for="PlaceType" class="form-control" />
                <span asp-validation-for="PlaceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgsrcOutside" class="control-label"></label>
                <input asp-for="ImgsrcOutside" class="form-control" />
                <span asp-validation-for="ImgsrcOutside" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgsrcInside" class="control-label"></label>
                <input asp-for="ImgsrcInside" class="form-control" />
                <span asp-validation-for="ImgsrcInside" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
