@model TrainzInfo.Models.City

@{
    ViewData["Title"] = "Створити місто";
}

<h1>Створити місто</h1>

<h4>Місто</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayName("Назва міста")
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                @Html.DisplayName("Область")
                @*<label asp-for="UkrainsRailways" class="control-label"></label>*@
                @*<input asp-for="UkrainsRailways" class="form-control" />*@
                @Html.DropDownList("Oblast", ViewBag.oblasts as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="Oblast" class="text-danger"></span>
            </div>
            <div>
                @Html.DisplayName("Район")
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

