.train-card .card {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
}

    .train-card .card.fade-in {
        opacity: 1;
        transform: translateY(0);
    }
