<form asp-action="Create" method="post">
    <input type="text" name="roleName" placeholder="Role name" class="form-control" />
    <button type="submit" class="btn btn-primary mt-2">Додати роль</button>
</form>
