
<h1>На модерации, благодарим за добавление</h1>
<a class="btn btn-info" asp-action="Index">Вернутся</a>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>
