@model TrainzInfo.Models.Locomotive

@{
    ViewData["Title"] = "Copy";
}

<h1>Copy</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CopySubmit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayName("Серия(пример ДС3, ЧС4)");
                <input asp-for="Seria" class="form-control" />
                <span asp-validation-for="Seria" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Номер(пример 001, 002)");
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Депо")
                <input asp-for="Depot" class="form-control" />
                <span asp-validation-for="Depot" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Конструкционная скорость");
                <input asp-for="Speed" class="form-control" />
                <span asp-validation-for="Speed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>