@model TrainzInfo.Models.Electic_locomotive
<form asp-controller="Electic_locomotive" asp-action="AddNews" method="post" enctype="multipart/form-data">
    <input type="file" name="uploads" /><br>
    <input type="submit" value="Загрузить" class="btn btn-primary" />
</form>