@model TrainzInfo.Models.Electic_locomotive

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<style>
    body {
        background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcScDNWcFxHDwgif3KnEeJTBP0qABTnFDcaf28vXTq_KqkdFsT87&usqp=CAU);
    }
</style>
<h4>Electic_locomotive</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speed" class="control-label"></label>
                <input asp-for="Speed" class="form-control" />
                <span asp-validation-for="Speed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionCount" class="control-label"></label>
                <input asp-for="SectionCount" class="form-control" />
                <span asp-validation-for="SectionCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ALlPowerP" class="control-label"></label>
                <input asp-for="ALlPowerP" class="form-control" />
                <span asp-validation-for="ALlPowerP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocomotiveImg" class="control-label"></label>
                <input asp-for="LocomotiveImg" class="form-control" />
                <span asp-validation-for="LocomotiveImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
