@model TrainzInfo.Models.StationInfo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StationInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                @Html.DisplayName("Станція")
                <input type="text" id="cities" asp-for="Name" placeholder="Почніть вводити назву станції" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Коротка інформація")
                <textarea style="width:1000px; height:500px;" asp-for="BaseInfo" class="form-control"></textarea>
                <span asp-validation-for="BaseInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Основна інформація")
                <textarea style="width:1000px; height:500px;" asp-for="AllInfo" class="form-control"></textarea>
                <span asp-validation-for="AllInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>

