@model TrainzInfo.Models.StationInfo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StationInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                @Html.DisplayName("Станція")
                <input type="text" id="cities" asp-for="Name" readonly class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group wide">
                @Html.DisplayName("Коротка інформація")
                <textarea asp-for="BaseInfo" class="form-control wide" rows="8" data-editor></textarea>
                <span asp-validation-for="BaseInfo" class="text-danger"></span>
            </div>

            <div class="form-group wide">
                @Html.DisplayName("Основна інформація")
                <textarea asp-for="AllInfo" class="form-control wide" rows="8" data-editor></textarea>
                <span asp-validation-for="AllInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/ckeditor5/ckeditor.js"></script>
    <script src="~/js/editor-init.js"></script>

}