.news-card {
    opacity: 0;
    filter: blur(6px);
    transform: translateY(25px);
    transition: opacity 0.6s ease, transform 0.6s ease, filter 0.6s ease;
}

    .news-card.visible {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(0);
    }


.placeholder-img {
    height: 180px;
    background-color: #f8f9fa;
}


.card-img-top {
    width: 100%;
    height: 250px; /* або інша висота, наприклад 200px */
    object-fit: cover;
    border-radius: 8px;
}
