
@model TrainzInfo.Models.NewsInfo


@{
    ViewData["Title"] = "Створити новину";
}

<h1>Створити</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayName("Назва")
                <input id="NameNews" asp-for="NameNews" width=140 height=150 class="form-control" />
                <span asp-validation-for="NameNews" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Коротка частина новини")
                <textarea id="BaseNews" asp-for="BaseNewsInfo" class="form-control"></textarea>
                <span asp-validation-for="BaseNewsInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Повна новина")
                <textarea id="NewsInfoAll" asp-for="NewsInfoAll" class="form-control"></textarea>
                <span asp-validation-for="NewsInfoAll" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="DateTime" class="control-label"></label>
                    <input asp-for="DateTime" class="form-control" />
                    <span asp-validation-for=@DateTime.Now class="text-danger"></span>
                </div>*@
        
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<style>
    #BaseNews {
        width: 800px;
        height: 500px;
    }
</style>
<style>
    #NameNews {
        width: 700px;
        height: 50px;
    }
</style>
<style>
    #NewsInfoAll {
        width: 800px;
        height: 700px;
    }
</style>
<style>
    #News {
        width: 600px;
        height: 100px;
    }
</style>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
