@model TrainzInfo.Models.NewsInfo

@{
    ViewData["Title"] = "Edit";
}

<h1>@Model.NameNews</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="NameNews" class="control-label"></label>
                <input asp-for="NameNews" class="form-control" />
                <span asp-validation-for="NameNews" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseNewsInfo" class="control-label"></label>
                <input asp-for="BaseNewsInfo" class="form-control" />
                <span asp-validation-for="BaseNewsInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsInfoAll" class="control-label"></label>
                <input asp-for="NewsInfoAll" class="form-control" />
                <span asp-validation-for="NewsInfoAll" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imgsrc" class="control-label"></label>
                <input type="text" width="600" height="300" asp-for="Imgsrc" class="form-control" />
                <span asp-validation-for="Imgsrc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
