@model IEnumerable<TrainzInfo.Models.Metro>

@{
    ViewData["Title"] = "Metro";
}

<head>
    <title>Index</title>
</head>
<body>
    <p>
        @if (ViewBag.user != null)
        {
            @if (ViewBag.user.Role == "Publisher" || ViewBag.user.Role == "Admin" || ViewBag.user.Role == "Superadmin")
            {
                <a class="btn btn-dark" asp-action="Create">Створити новйи запис</a>
            }
        }
    </p>
    <div style="position:center">
        @foreach (var item in Model)
        {
            <a class="btn btn-info" style="width:350px" asp-controller="Metroes" asp-action="Details" asp-route-id="@item.id">@item.Name</a>
        }
    </div>
</body>

<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>
