@model TrainzInfo.Models.Train

<form asp-controller="Trains" asp-action="AddExcel" method="post" enctype="multipart/form-data">
    <input type="file" name="uploads" /><br>
    <input type="submit" value="Завантажити" class="btn btn-primary" />
</form>