@model Microsoft.AspNetCore.Identity.IdentityUser

<h2>Мій профіль</h2>

<p><strong>Логін:</strong> @Model.UserName</p>
<p><strong>Email:</strong> @Model.Email</p>
<p><strong>Id:</strong> @Model.Id</p>
<a class="btn btn-success" asp-action="Edit">Редагувати</a>


@if (User != null && (User.IsInRole("Superadmin")))
{
    <a class="btn btn-danger" asp-controller="Admin" asp-action="Users">Адмністрування користувачів</a>
    <a class="btn btn-danger" asp-controller="StationImages" asp-action="Index">Зображення станцій</a>
    <a class="btn btn-danger" asp-controller="MainImages" asp-action="Index">Зображдення сайту</a>
    <a class="btn btn-danger" asp-controller="NewsInfoes" asp-action="Create">Створити новину</a>
}