@model Microsoft.AspNetCore.Identity.IdentityUser

<h2>Мій профіль</h2>

<p><strong>Логін:</strong> @Model.UserName</p>
<p><strong>Email:</strong> @Model.Email</p>
<p><strong>Id:</strong> @Model.Id</p>