.news-card {
    opacity: 0;
    filter: blur(6px);
    transform: translateY(25px);
    transition: opacity 0.6s ease, transform 0.6s ease, filter 0.6s ease;
}

    .news-card.visible {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(0);
    }
