@model TrainzInfo.Models.StationInfo

@{
    ViewData["Title"] = "Додати інформацію про станцію";
}

<h1>Додати інформацію про станцію</h1>

<h4>Інформація про станцію</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @if (ViewBag.result != null || ViewBag.result != "")
            {
                <div style="color:red; font-size:20px">
                    @Html.DisplayName(ViewBag.result)
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayName("Станция")
                <input type="text" id="cities" asp-for="Name" placeholder="Почніть вводити назву станції" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" style="width:250px;">
                @Html.DisplayName("Короткая информация")
                <textarea style="width:1000px; height:500px;" asp-for="BaseInfo" class="form-control"  ></textarea>
                <span asp-validation-for="BaseInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Основная информация")
                <textarea style="width:1000px; height:500px;" asp-for="AllInfo" class="form-control" ></textarea>
                <span asp-validation-for="AllInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>


