@model TrainzInfo.Models.StationsShadule

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StationsShadule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Station" class="control-label"></label>
                @Html.DropDownList("Station", ViewBag.stations as SelectList)
                <span asp-validation-for="Station" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UzFilia" class="control-label"></label>
                @Html.DropDownList("UzFilia", ViewBag.uz as SelectList)
                <span asp-validation-for="UzFilia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOfArrive" class="control-label"></label>
                <input asp-for="TimeOfArrive" class="form-control" />
                <span asp-validation-for="TimeOfArrive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOfDepet" class="control-label"></label>
                <input asp-for="TimeOfDepet" class="form-control" />
                <span asp-validation-for="TimeOfDepet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainInfo" class="control-label"></label>
                @Html.DropDownList("TrainInfo", ViewBag.trainz as SelectList)
                <a class="btn btn-success" asp-controller="Trains" asp-action="Create">Добавить поезд</a>
                <span asp-validation-for="TrainInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgTrain" class="control-label"></label>
                <input asp-for="ImgTrain" class="form-control" />
                <span asp-validation-for="ImgTrain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

