@model TrainzInfo.Models.City
<form asp-controller="Cities" asp-action="AddExcel" method="post" enctype="multipart/form-data">
    <input type="file" name="uploads" /><br>
    <input type="submit" value="Зберегти" class="btn btn-primary" />
</form> 
 