@model TrainzInfo.Models.StationsShadule

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StationsShadule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="Station" class="control-label"></label>
                <input asp-for="Station" class="form-control" />
                <span asp-validation-for="Station" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UzFilia" class="control-label"></label>
                <input asp-for="UzFilia" class="form-control" />
                <span asp-validation-for="UzFilia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOfArrive" class="control-label"></label>
                <input asp-for="TimeOfArrive" class="form-control" />
                <span asp-validation-for="TimeOfArrive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOfDepet" class="control-label"></label>
                <input asp-for="TimeOfDepet" class="form-control" />
                <span asp-validation-for="TimeOfDepet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberTrain" class="control-label"></label>
                <input asp-for="NumberTrain" class="form-control" />
                <span asp-validation-for="NumberTrain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>
