/* Спочатку контейнер прозорий */
#newsContainer {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

    /* Клас для показу */
    #newsContainer.loaded {
        opacity: 1;
        transform: translateY(0);
    }
