.station-img {
    float: left;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
}

.station-info {
    text-align: justify;
    line-height: 1.6;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
