@model TrainzInfo.Models.UkrainsRailways

<form asp-controller="UkrainsRailways" asp-action="AddImage" method="post" enctype="multipart/form-data">
    <input asp-for="Name" readonly class="control-labell"></input>
    <input asp-for="id" readonly class="control-labell"></input>
    <input type="file" name="uploads" /><br>
    <input type="submit" value="Зберегти" class="btn btn-primary" />
</form>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>