@model TrainzInfo.Models.Stations

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Stations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                @Html.DropDownList("City", ViewBag.city as SelectList)
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Railway" class="control-label"></label>
                @Html.DropDownList("Railway", ViewBag.uz as SelectList)
                <span asp-validation-for="Railway" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oblast" class="control-label"></label>
                @Html.DropDownList("Oblast", ViewBag.oblast as SelectList)
                <span asp-validation-for="Oblast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imgsrc" class="control-label"></label>
                <input asp-for="Imgsrc" class="form-control" />
                <span asp-validation-for="Imgsrc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

