

<a class="btn btn-info" style="margin:10px; width:400px;" asp-controller="RailwayUsersPhotoes" asp-action="IndexNotModered">Премодерация пользовательских фотографий</a>
<a class="btn btn-info" style="margin:10px; width:400px;" asp-controller="ElectricTrains" asp-action="IndexNotModered">Премодерация фотографий электропоездов</a>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>