@using TrainzInfo.Tools
@model EditRolesViewModel
@{
    ViewData["Title"] = "Редагування ролей";
}

<h2>Редагування ролей користувача: @Model.UserName</h2>

<form asp-action="EditRoles" method="post">
    <input type="hidden" asp-for="UserId" />

    @for (int i = 0; i < Model.Roles.Count; i++)
    {
        <div class="form-check">
            <input class="form-check-input" asp-for="Roles[i].IsSelected" />
            <label class="form-check-label">@Model.Roles[i].RoleName</label>
        </div>
    }

    <button type="submit" class="btn btn-success mt-2">Зберегти</button>
</form>