@using Microsoft.AspNetCore.Identity
@model List<IdentityUser>
@{
    ViewData["Title"] = "Користувачі";
}

<h2>Користувачі</h2>

<a class="btn btn-info" asp-controller="Roles" asp-action="Create">Додати роль</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Логін</th>
            <th>Email</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-action="EditRoles" asp-route-id="@user.Id" class="btn btn-sm btn-primary">Редагувати ролі</a>
                </td>
            </tr>
        }
    </tbody>
</table>