@model TrainzInfo.Models.DizelTrainzList

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DizelTrainzList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberTrain" class="control-label"></label>
                <input asp-for="NumberTrain" class="form-control" />
                <span asp-validation-for="NumberTrain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Depo" class="control-label"></label>
                <input asp-for="Depo" class="form-control" />
                <span asp-validation-for="Depo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imgsrc" class="control-label"></label>
                <input asp-for="Imgsrc" class="form-control" />
                <span asp-validation-for="Imgsrc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

