@model TrainzInfo.Models.UserLocomotivePhotos

@{
    ViewData["Title"] = "Добавть ваше фото";
}

<h1>Створити</h1>

<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayName("Назва локомотива");
                @*<label asp-for="NameLocomotive" class="control-label"></label>*@
                @Html.DropDownList("NameLocomotive", ViewBag.locomotives as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="NameLocomotive" class="text-danger"></span>
                @if (ViewBag.user != null)
                {
                    @if (ViewBag.user != null)
                    {
                        if (ViewBag.user.Role == "Admin" || ViewBag.user.Role == "Publisher" || ViewBag.user.Role == "Superadmin")
                        {
                            <a class="btn btn-info" target="_blank" asp-controller="Locomotives" asp-action="Create">Добавить локомотив</a>
                        }
                    }

                }
            </div>
            <div class="form-group">
                @Html.DisplayName("Краткие сведенья");
                @*<label asp-for="BaseInfo" class="control-label"></label>*@
                <textarea asp-for="BaseInfo" class="form-control"></textarea>
                <span asp-validation-for="BaseInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Подробности: дата сьемки, место сьемки");
                @*<label asp-for="AllInfo" class="control-label"></label>*@
                <textarea id="area" asp-for="AllInfo" class="form-control"></textarea>
                <span asp-validation-for="AllInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<style>
    #area {
        width: 800px;
        height: 100px;
    }
</style>
<style>
    #input {
        width: 800px;
    }
</style>
<div>
    <a asp-action="Index">Back to List</a>
</div>

