
@model TrainzInfo.Models.Users

<form asp-controller="Users" asp-action="Change" method="post" enctype="multipart/form-data">
    <input asp-for="Id" readonly class="control-label"></input>
    @Html.DisplayName("Рoль")
    @Html.DropDownList("Role", ViewBag.roles as SelectList, htmlAttributes: new { @class = "form-control" })
    <span asp-validation-for="Role" class="text-danger"></span>
    <a class="btn btn-dark" target="_blank" asp-controller="Roles" asp-action="Create">Добавить роль</a>
    <input type="submit" value="Зберегти" class="btn btn-primary" />
</form>
