@model TrainzInfo.Models.Users
@{
    ViewData["Title"] = "Done";
}



<div style="font-size:60px; color:red">
    <p>Ви успішно залогінились на сайт</p>
</div>

<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>