.tab {
    padding: 6px 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
    background: #eee;
    display: flex; /* важливо для горизонтального розміщення текст + кнопка */
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

    .tab.active {
        background: dodgerblue;
        color: white;
    }

.close-btn {
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: inherit;
}
