@model IEnumerable<TrainzInfo.Models.Metro>

@{
    ViewData["Title"] = "Metro";
}

<head>
    <title>Index</title>
</head>
<body>
    <p>
        <a class="btn btn-dark" asp-action="Create">Создать новую запись</a>
    </p>
    @foreach (var item in Model)
    {
        <a class="btn btn-info" asp-controller="Metroes" asp-action="Details" asp-route-id="@item.id">@item.Name</a>
    }
</body>

<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>
